@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    display: inline-block;
  }
  h1,
  h2 {
    text-wrap: 'text-balance';
  }

  h1 {
    @apply text-center;
  }
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

/* @layer utilities {
  .prose a {
    @apply decoration-[0.1em] no-underline underline-offset-4 transition-all decoration-neutral-400 dark:decoration-neutral-600;
  }
} */

@layer components {
  .prose a {
    @apply decoration-[0.1em] no-underline underline-offset-4 transition-all;
  }
}

::-webkit-scrollbar {
  display: none;
}

.task-list-item {
  list-style: none !important;
}

table {
  overflow-wrap: anywhere;
}

table svg {
  margin-right: 0.2em;
}
