@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    display: inline-block;
  }
  h1,
  h2 {
    text-wrap: 'text-balance';
  }

  h1 {
    @apply text-center;
  }
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

/* https://tailwindcss.com/docs/functions-and-directives#using-apply-with-per-component-css */
/* ？？？如果没有 prose，a 也会收到影响 */
@layer utilities {
  .prose a {
    @apply no-underline underline-offset-4 transition-all decoration-neutral-300 dark:decoration-dimmed-700;
  }
}

::-webkit-scrollbar {
  display: none;
}

.task-list-item {
  list-style: none !important;
}

table {
  overflow-wrap: anywhere;
}

table svg {
  margin-right: 0.2em;
}
