@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.prose a {
  @apply decoration-[0.1em] no-underline underline-offset-4 transition-all decoration-neutral-400 dark:decoration-neutral-600;
}

.task-list-item {
  list-style: none !important;
}

table {
  /* table-layout: fixed !important; */
  overflow-wrap: anywhere;
}

svg {
  display: inline-block;
}

table svg {
  margin-right: 0.2em;
}
